

.w-content{
    background-color:#f6f6f6 ;
    margin-bottom: 30px;
}

.options{
    overflow: hidden;
}
.options> div{
    border: 1px solid #ddd;
}
 .ld, .rd, .w-items{
     position: relative;
     background-color: #fff;
 }
.options .ld{
    width: 854px;
    height: auto;
    margin-right: 18px;
    padding: 25px 18px;
    overflow: hidden;
    /*height: 170px;*/

}
.options .rd{
    width: 248px;
    height: 180px;
}
.w-items{
    width: 854px;
    border: 1px solid #ddd;
    margin-top: 32px;
    background-color: #fff;
}
.op{
    padding: 20px 0;
    font-size: 16px;
}
.op a.all{
    padding: 0 34px;
    color: #ef0f0f;
}
.op span{
    font-weight: bold;
}
.op a{
    padding: 0 12px;
    color: #000;
}

.release-work{
    /*overflow: hidden;*/
    display: block;
    line-height: 33px;
    text-align: center;
    width: 86px;
    height: 33px;
    position: absolute;
    color: #EF0F0F;
    font-size: 16px;
    border: 1px solid #EF0F0F;
    right: 80px;
    bottom: 42px;
    border-radius:5px ;
}
.options .rd{
    padding: 20px;
    font-size: 16px;
    line-height: 30px;
}
.line-dashed{
    margin: 0;
    padding: 0;
    border-bottom: 1px dashed #e4e4e4;
    width: 100%;
}
.rd h4{
    color: #737272;
}
.rd>div{
    line-height: 30px;
    text-align: center;
    padding: 8px 0;
}

#wrd{
    padding:0 30px;
    width: 328px;
    height: 220px;
    background-color: #fff;
    line-height: 30px;
}
#wrd .ds{
    display: block;
    padding: 0;
    margin: 0;
    height: 0;
    border-bottom: 1px dashed #e4e4e4;
    width: 100%;
}
#wrd>div{
    padding: 25px 0;
    text-align: center;
    font-size: 16px;
    width: 100%;
}
.w-items {
    padding: 0 18px;
}
.w-items .w-title{
    position: relative;
    width: 154px;
    line-height: 27px;
    padding: 10px 5px;
    color: #EF0F0F;
    border:1px solid #ef0f0f;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;

}
.w-items .w-item:last-child{
    border: none;
}
.w-items>span{
    display: inline-block;
    width: 75px;
    margin-right: 0;
    text-align: right;
}
.w-items  .w-user{
    margin:32px 0;
    color: #807f81;
}
.w-items  .w-item{
    border-bottom: 1px dashed #ccc;
    margin-top: 24px;
}
#ds{
    border-bottom: 1px dashed #ccc;
    height: 0;
}
.w-items .w-date{
    margin: 30px 0;
    color: #807f81;
}
.d-icon{
    background: url("../images/icons/date.png") no-repeat 0 -8px;
    padding:1px 18px;
    background-size: 7%;
    width: 260px;
}
.m-icon{
    background: url("../images/icons/money.png") no-repeat 0 1px ;
    padding:1px 18px;
    background-size: 8%;
}
.w-user div:nth-child(1){
    font-size: 20px;font-weight: bold;width:300px;color: #000;
}
.w-user div:nth-child(2){
    background: #b7bdfd;border-radius: 5px;padding: 2px 5px;color: #fff
}
.w-user div:nth-child(3),w-date div:nth-child(3){
    margin-right: 20px;
}
